@import 'screens';

.title {
  text-align: center;
  line-height: 116%;
  font-weight: 600;
  white-space: pre-wrap;

  @media (min-width: $medium) {
    text-align: left;
  }

  &Main {
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: 6.375rem;

    @media (min-width: $medium) {
      margin-bottom: 4rem;
    }
  }

  &Result,
  &Question {
    color: var(--black-100);
    opacity: 0.5;
    font-size: clamp(1.125rem, 3.5vw, 2rem);
    margin-bottom: 0.5rem;
  }

  &Question {
    opacity: 1;
    font-size: clamp(1.125rem, 5vw, 2rem);

    @media (min-width: $xlarge) {
      white-space: pre-wrap;
    }
  }

  &Score {
    font-size: clamp(2rem, 7vw, 3.5rem);
    margin-bottom: 6.375rem;

    @media (min-width: $medium) {
      margin-bottom: 4rem;
    }
  }
}
